.daily_card {
  background-color: var(--color-card-bg);
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 40px 0 40px 20px;
  border-radius: var(--border-radius);
  height: minmax(200px, min-content);
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
}
.daily_text h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}
.daily_text .cta_btn {
  justify-self: left;
  width: 80%;
}
.daily_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_card {
  background-color: var(--color-news-bg);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  height: minmax(300px, min-content);
}
.news_card:nth-child(2n) {
  background-color: var(--color-news-bg-inverted);
}
.news_card > * {
  padding: 0 1rem;
}
.news_card h3 {
  margin: 0.5rem 0 0 0;

  margin: 40px 0 20px 0;
  padding: 15px 30px;
  background-color: var(--color-head-bg);
  font-size: var(--font-h2-size);
}
.news_card p {
  margin: 0 0 1rem 0;
}
.news_card:first-child:before {
  content: "BREAKING NEWS";
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  font-size: var(--font-h3-size);
  font-weight: var(--font-weight-medium);
  text-align: center;
  line-height: 1rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
}
.news_card:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.news_card:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.news_card .cta_btn {
  justify-self: center;
}
.cta_btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: var(--color-cta-card-bg);
  color: var(--color-text-inverted);
  text-decoration: none;
  width: max-content;
  border-radius: 2em;
  /* border-radius: var(--border-radius); */
}
.news_card .cta_btn {
  background-color: var(--color-cta-newscard-bg);
}
.news_card:nth-of-type(2n) .cta_btn {
  background-color: var(--color-cta-newscard-bg-inverted);
  /* color: var(--color-text); denne er udkommenteret, så den ikke gælder alle elementer for nu */
  color: aliceblue;
}
.cta_btn:after {
  content: "\2192";
  margin-left: 1rem;
}

/* Accordion - hover effekt */

html {
  interpolate-size: allow-keywords;
}

.detail_card {
  background: gainsboro;
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
}

.detail_card p {
  transition: 0.3s;
  height: 0;
  overflow: clip;
}

.detail_card:hover p {
  height: 200px;
  height: auto;
}

/* Accordion */

html {
  interpolate-size: allow-keywords;
}

.faq-section {
  display: grid;
  grid-template-columns: min(100%, 65ch);
  place-content: center;
  gap: 2px;
}

summary {
  background: #eee;
  cursor: pointer;
  padding: 1em;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 1em;
}

::marker {
  content: none;
}
summary::after {
  content: "+";
  font-family: system-ui;
  font-weight: 400;
  font-size: 1.1rem;
  align-items: center;
}

[open] summary::after {
  content: "–";
}

::details-content {
  height: 0;
  overflow: clip;
  transition: 0.3s allow-discrete;
  height: auto;
}

details[open]::details-content {
  height: auto;
}
