:root {
  /* Colours */
  --color-bg: #fceb94; /* page background /*

  /* Header */
  --color-head-bg: #304ac0;

  /* Logotype */
  --color-logotype-bg: #050404;
  --color-text-logotype: #fdfcf8;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #db1554;
  /* Links */
  --color-link-bg: #f9f9f9;
  --color-link-hover: #000000; /* used */
  --color-link-active: #c0d2f6; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #db1554;
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 20px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #7298e9;
  /* news-cards */
  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #ffffff;
  --color-cta-newscard-bg: #7298e9;
  --color-cta-newscard-bg-inverted: #7298e9;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #6f90eb;
  --color-infobox-2-bg: #dbe2f5;
}
