html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background-color: var(--color-bg);
}

header {
  height: min-content;
}

#main-disclamer {
  background-color: var(--color-head-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2%;
  padding-top: 5%;
  margin-bottom: var(--margin-head-bottom);
}

#main-disclamer-content {
  display: grid;
  column-gap: 1rem;
  flex: 1;
  grid-template-columns: 1fr 3fr;
}

main section {
  /* padding: 20px; */
  border-radius: var(--border-radius);
}

h1 {
  /* font-size: var(--font-h1-size); */
  /* font-size: var(--font-h1-size); */
  /* font-weight: var(--font-weight-bold); */
  color: var(--color-text-inverted);
  margin: 5px 0;
  /* line-height: 1.3rem; */
  text-align: left;
}

#instruction h1,
#register h1 {
  margin: 40px 0 20px 0;
  padding: 15px 30px;
  background-color: var(--color-head-bg);
  font-size: var(--font-h2-size);
}

#instruction p {
  grid-column: 1/-1;
  margin-bottom: 20px;
  font-size: var(--font-h2-size);
  line-height: 1.5rem;
}

.sub {
  font-size: var(--font-sub1-size);
  font-weight: var(--font-weight-light);
  color: var(--color-text-inverted);
}

h2 {
  font-size: var(--headline2-size);
}

h3 {
  font-size: var(--headline3-size);
}

main > h1 {
  width: calc(80% - 6rem);
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
  background-color: var(--color-menu-bg);
}

nav ul {
  list-style: none;
}

a {
  font-family: var(--font-family-sans);
}

nav a {
  text-decoration: none;
  color: var(--color-text);
}

/* Måske skal du lave en ny regel for logotype-wrapper, når du har lavet din logotype */
#logotype-wrapper {
  background-color: var(--color-logotype-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.6rem;
}

#logotype-wrapper > a {
  color: var(--color-text-logotype);
  font-size: var(--font-logotype-size);
  font-weight: var(--font-weight-medium);
  width: max-content;
  margin-left: 1rem;
}

/* Global menu */
header nav li a {
  margin: 1.5rem;
  background-color: var(--color-link-bg);
  color: var(--color-text);
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: 2em;
  /* border-radius: var(--border-radius-links); */
}

/* Pilen efter menu-tekst */
header > nav li > a:after {
  content: " \2192";
}

/* Global menu hover effekt - Lav den om til det, du synes */
nav a:hover {
  background-color: var(--color-link-hover);
}

nav a:active {
  background-color: var(--color-link-active);
}

/* FOOTER */
footer a {
  font-size: 0.7rem;
}

/* style af buttons -  instruktion */
.info-graphic button {
  border: 3px dashed red;
}

/* CSS Starter er tilføjet */
/* Generelle styles */
input {
  border: 1px solid #ccc;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

button {
  /* border: 1px solid #000; */
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
  margin: 1em;
}

.pop_knap {
  color: rgb(255, 255, 255);
  background-color: rgb(19, 131, 127);
  margin: 1em;
}

/* color on buttons - instruktion page */
/* style af buttons -  instruktion */
.info-graphic button {
  border: 3px rgb(0, 0, 0);
}
.info-knap {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

button.ufo {
  background-color: rgba(48, 216, 160, 0.763);
  grid-template-columns: 1fr 1fr;
}

button.hotel {
  background-color: rgb(220, 122, 76);
  grid-template-columns: 1fr 1fr;
}

button.pinkgirl {
  background-color: rgb(232, 68, 128);
  grid-template-columns: 1fr 1fr;
}

button.bluegirl {
  background-color: rgb(42, 84, 189);
  grid-template-columns: 1fr 1fr;
}

button.yellowgirl {
  background-color: rgb(255, 210, 119);
  grid-template-columns: 1fr 1fr;
}

button.greengirl {
  background-color: rgba(26, 174, 110, 0.858);
  grid-template-columns: 1fr 1fr;
}

button.plane {
  background-color: rgb(133, 127, 255);
  grid-template-columns: 1fr 1fr;
}

button.train {
  background-color: rgb(255, 210, 119);
  grid-template-columns: 1fr 1fr;
}

.error-message {
  color: darkred;
}

/* Form layout */
form {
  display: grid;
  gap: 1rlh;
  padding: 1rlh;

  .form-group {
    display: grid;
    gap: 0.1rlh;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
  fieldset {
    display: contents;

    div {
      display: grid;
      gap: 0.5ch;
      border-radius: 4px;
      margin: 0;
    }
  }
}

/* Pseudo-classes */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid slateblue;
  outline-offset: 1px;
}
/* Hover-styles */
button:hover {
  background: #222;
}
/* Active-styles (imens man klikker) */
button:active {
  scale: 0.98;
}

/* Valideringsregler */
/* Skjul fejlmeddelelsen som standard */
.error-message {
  display: none;
}
.form-group:has(:required) {
  legend::after,
  label:only-of-type::after {
    margin-inline-start: 0.25ch;
    content: "*";
    color: red;
  }
}

/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input:not(label > *),
  fieldset > div,
  textarea,
  select {
    outline: 2px solid red;
    border-color: darkred;
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
  }
}

/* Demo layout */
body {
  padding: 2rlh;
  display: grid;
  gap: 2rlh;
}

section {
  display: grid;
  gap: 1rlh;
  align-content: start;
}

.output div {
  background: #f5f5f5;
  padding: 1rlh;
  border-radius: 6px;
  display: grid;
  gap: 0.5rlh;
}
