/* Light mode er standard via :root */
:root {
  --color-bg: #7ea1c4;
  --color-head-bg: #304ac0;
  --color-logotype-bg: #050404;
  --color-text-logotype: #fdfcf8;

  --color-menu-bg: #db592a;
  --color-link-bg: #f9f9f9;
  --color-link-hover: #6f90eb;
  --color-link-active: #c0d2f6;

  --color-headline-bg: #db592a;
  --color-headline-text-page: #ffffff;

  --color-text: #000;
  --innerbox-bg: #c4c4c4;

  --color-text-inverted: #ffffff;

  --color-card-bg: #ffffff;
  --color-cta-card-bg: #7298e9;

  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #ffffff;
  --color-cta-newscard-bg: #7298e9;
  --color-cta-newscard-bg-inverted: #7298e9;

  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #6f90eb;
  --color-infobox-2-bg: #dbe2f5;
}

/* Dark mode variabler */
html.dark {
  --color-bg: #1a1918;
  --color-head-bg: #4a30c0;
  --color-logotype-bg: #050404;
  --color-text-logotype: #fdfcf8;

  --color-menu-bg: #921e43;
  --color-link-bg: #4a30c0;
  --color-link-hover: #000000;
  --color-link-active: #c0d2f6;

  --color-headline-bg: #921e43;
  --color-headline-text-page: #ffffff;

  --color-text: #ffffff;
  --innerbox-bg: #353434;
  --color-text-inverted: #ffffff;

  --color-card-bg: #8a8989;
  --color-cta-card-bg: #7298e9;

  --color-news-bg: #8a8989;
  --color-news-bg-inverted: #4a30c0;
  --color-cta-newscard-bg: #7298e9;
  --color-cta-newscard-bg-inverted: #7298e9;

  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #6f90eb;
  --color-infobox-2-bg: #dbe2f5;

  /*          first draft of darkmode */

  /* 
  --color-bg: #121212;
  --color-head-bg: #1f1f1f;
  --color-logotype-bg: #000000;
  --color-text-logotype: #ffffff;

  --color-menu-bg: #2c2c2c;
  --color-link-bg: #1f1f1f; */

  /* --color-link-hover: #ffffff; */
  /* --color-link-active: #7298e9;

  --color-headline-bg: #1f1f1f;
  --color-headline-text-page: #ffffff;

  --color-text: #e0e0e0;
  --color-text02: #000000; */

  /* --color-text-inverted: #000000; */

  /* --color-card-bg: #1e1e1e;
  --color-cta-card-bg: #3a63c1;

  --color-news-bg: #2c2c2c;
  --color-news-bg-inverted: #1e1e1e;
  --color-cta-newscard-bg: #3a63c1;
  --color-cta-newscard-bg-inverted: #3a63c1; */

  /* Infographics */
  /* --color-info-bg: #1a1a1a;
  --color-infobox-1-bg: #4a5fae;
  --color-infobox-2-bg: #2c2c2c; */
}

/* Anvend variabler */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

header {
  background-color: var(--color-head-bg);
}

/* .logo {
  background-color: var(--color-logotype-bg);
  color: var(--color-text-logotype);
} */

.menu {
  background-color: var(--color-menu-bg);
}

/* a {
  background-color: var(--color-link-bg);
  color: var(--color-text);
} */
/* 
a:hover {
  color: var(--color-link-hover);
} */

.card {
  background-color: var(--color-card-bg);
  color: var(--color-text);
}

.news-card {
  background-color: var(--color-news-bg);
  color: var(--color-text);
}

/* osv. – alle steder hvor du bruger farver */

/* The switch - the box around the slider, den må ikke hedde switch da det allerede er et variabelnavn */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1c449a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(234, 183, 45);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
